.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 54px;
}

.Navbar__logo {
  color: #FFFFFF;
}

.Navbar__button {
  font-family: 'Segoe UI';
  display:flex;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin-top: 12.5px;
  width: 104px;
  height: 40px;
  padding: 0px;
}

.text{
  color: #FFFFFF;
}

.icon--color {
  color: #FFFFFF;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 50px;
}

.icon {
  font-size: 20px;
}

.rectangle {
     width: 87px; 
     height: 34px; 
     background: #FFFFFF;
     border-radius: 5%;
}

.ant-btn {
  background-color: transparent !important;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI';
  font-size: 20px;
}

.download-button{
  color: #1890FF;
}

.upload-button{
  color: #1890FF;
}

.add-button{
  color: #1890FF;
}

.List {
  display: flex;

}

.ant-btn-icon-only > * {
    font-size: 30px;
}