img{
  width: 100px;
  height: 24px;
}

.black-logo{
  height: 35px;
}
.white-logo{
  height: 35px;
}

.Navbar {
  display: grid;
  grid-template-columns: 40% 32% 28%;
  grid-template-rows: 15% 70% 15%;
  height: 54px;
  width: 100%;
}
.first-grid{
  grid-column-start: 1;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}

.second-grid{
  grid-column-start: 3;
  grid-row: 2;
  display: flex;
  justify-content: space-around;
}

.text{
  color: #FFFFFF;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.icon--size {
  font-size: 20px;
}

.rectangle {
     width: 87px; 
     height: 34px; 
     background: #FFFFFF;
     border-radius: 5%;
}
/*cambiar los colores de los íconos*/

.icon--color {
  color: #FFFFFF;
}

.download-button{
  color: #1890FF !important;
}

.upload-button{
  color: #1890FF !important;
}

.add-button{
  color: #1890FF !important;
}
/*cambiar los colores de los íconos*/

.List {
  display: flex;
}

/* Estilos para sobreescribir los que vienen por defecto en Ant Design en el elemento Header*/
.ant-layout-header {
  height: auto;
  padding: 0px;
  line-height: 0px;
}
/* Estilos para sobreescribir los que vienen por defecto en Ant Design en el elemento Button*/

.ant-btn {
  background-color: transparent !important;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI';
  font-size: 20px;
}

.ant-btn-icon-only > * {
  font-size: 30px;
}